/* Back to top button */

.scroll-to-top {
  z-index: 1000;
  position: fixed;
  bottom: 60px;
  right: 10px;
  display:none;
}

@media (max-width: 768px) {
  .scroll-to-top > img {
    width: 45px;
    height: 45px;
  }
}
